# Use mirror source
registry = https://registry.npmmirror.com
# registry = https://registry.npmjs.org

#Upgrade the following dependency packages to the root node_modules directory as needed
public-hoist-pattern[]=husky
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=@eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=lint-staged
public-hoist-pattern[]=*stylelint*
public-hoist-pattern[]=@commitlint* 
public-hoist-pattern[]=core-js 

# Promote all dependencies to the root node_modules directory, which is equivalent to public-hoist-pattern[]=*. Generally use one of the two methods above.
# It is highly not recommended to solve dependency problems in this way. This does not take full advantage of pnpm's dependency access security and goes back to the old path of npm / yarn.
# shamefully-hoist=true

enable-pre-post-scripts=true
engine-strict=true